:root {
    /* before */
  
    /* brand(仮) */
    --color-primary: var(--brand-700);
    --color-primary-contrast-text: var(--white);
    --color-secondary: var(--brand-900);
    --color-secondary-contrast-text: var(--white);
    --color-tertiary: var(--brand-500);
    --color-tertiary-contrast-text: var(--white);
  
    /* base */
    --white: #fff;
    --black: #000;
  
    /* text-color */
    --color-base-text: var(--grey-900);
    --color-description-text: var(--grey-700);
    --color-place-holder-text: var(--grey-600);
    --color-on-fill-text: var(--white);
    --color-link-text: var(--blue-800);
    --color-hover-text: var(--blue-900);
    --color-active-text: var(--blue-900);
    --color-visited-text: var(--blue-900);
    --color-alert-text: var(--red-800);
    --color-disabled-text: var(--grey-500);
    --color-base-text-dark: var(--white);
    --color-description-text-dark: var(--grey-400);
    --color-place-holder-text-dark: var(--grey-500);
    --color-link-text-dark: var(--blue-500);
    --color-hover-text-dark: var(--blue-300);
    --color-active-text-dark: var(--blue-300);
    --color-visited-text-dark: var(--blue-300);
    --color-alert-text-dark: var(--red-600);
    --color-disabled-text-dark: var(--grey-600);
  
    /* background-color */
    --color-bg-primary: var(--white);
    --color-bg-secondary: var(--grey-100);
    --color-bg-tertiary: var(--grey-50);
    --color-bg-primary-dark: var(--grey-900);
    --color-bg-secondary-dark: var(--grey-700);
    --color-bg-tertiary-dark: var(--grey-800);
  
    /* border-color */
    --color-border-field: var(--grey-900) 1px;
    --color-border-field-bold: var(--grey-900) 2px;
    --color-border-divider: var(--grey-417) 1px;
    --color-border-focused: var(--yellow-700) 2px;
    --color-border-selected: var(--blue-800) 2px;
    --color-border-alert: var(--red-800) 2px;
    --color-border-disabled: var(--grey-500) 1px;
    --color-border-disabled-bold: var(--grey-500) 2px;
    --color-border-field-dark: var(--white) 1px;
    --color-border-field-dark-bold: var(--grey-900) 2px;
    --color-border-divider-dark: var(--grey-536) 1px;
    --color-border-focused-dark: var(--yellow-500) 2px;
    --color-border-selected-dark: var(--blue-500) 2px;
    --color-border-alert-dark: var(--red-600) 2px;
    --color-border-disabled-dark: var(--grey-600) 1px;
    --color-border-disabled-dark-bold: var(--grey-600) 2px;
  
    /* icon-color */
    --color-icon-label: var(--grey-900);
    --color-icon-active: var(--blue-800);
    --color-icon-alert: var(--red-800);
    --color-icon-disabled: var(--grey-500);
    --color-icon-label-dark: var(--white);
    --color-icon-active-dark: var(--blue-500);
    --color-icon-alert-dark: var(--red-600);
    --color-icon-disabled-dark: var(--grey-600);
  
    /* status-color */
    --color-status-information: var(--light-blue-700);
    --color-status-information-contrast-text: var(--white);
    --color-status-success: var(--green-800);
    --color-status-success-contrast-text: var(--white);
    --color-status-alert: var(--red-800);
    --color-status-alert-contrast-text: var(--white);
    --color-status-warning: var(--yellow-700);
    --color-status-warning-contrast-text: var(--white);
    --color-status-information-dark: var(--light-blue-500);
    --color-status-success-dark: var(--green-700);
    --color-status-alert-dark: var(--red-600);
    --color-status-warning-dark: var(--yellow-500);
  
    /* button-color */
    --color-button-normal: var(--blue-800);
    --color-button-hover: var(--blue-900);
    --color-button-active: var(--blue-1100);
    --color-button-disabled: var(--grey-500);
    --color-button-normal-dark: var(--blue-500);
    --color-button-hover-dark: var(--blue-100);
    --color-button-active-dark: var(--blue-200);
    --color-button-disabled-dark: var(--grey-600);
  
    /* chart-color */
    --color-chart-primary: var(--blue-800);
    --color-chart-primary-dark: var(--blue-400);
    --color-chart-secondary: var(--blue-200);
    --color-chart-secondary-dark: var(--blue-500);
  
    /* theme-background-color */
    --color-dark-theme-bg: var(--grey-900);
    --color-light-theme-bg: var(--white);
  
    /* progress-indicator */
    --color-progress-indicator-dark: var(--blue-800);
    --color-progress-indicator-light: var(--blue-400);
  
    /* brand color 未着手 */
    --brand-1200: #0a1128;
    --brand-1100: #0a1128;
    --brand-1000: #0a1128;
    --brand-900: #142351;
    --brand-800: #1e357a;
    --brand-700: #2847a3;
    --brand-600: #3359cc;
    --brand-500: #5b7ad6;
    --brand-400: #849be0;
    --brand-300: #adbcea;
    --brand-200: #c1cdef;
    --brand-100: #d6ddf4;
    --brand-50: #eaeef9;
  
    /* grey */
    --grey-900: #1a1a1a;
    --grey-800: #333;
    --grey-700: #4d4d4d;
    --grey-600: #666;
    --grey-536: #767676;
    --grey-500: #7f7f7f;
    --grey-417: #959595;
    --grey-400: #999;
    --grey-300: #b3b3b3;
    --grey-200: #ccc;
    --grey-100: #e6e6e6;
    --grey-50: #f2f2f2;
    --opacity-grey-900: rgb(0 0 0 / 90%);
    --opacity-grey-800: rgb(0 0 0 / 80%);
    --opacity-grey-700: rgb(0 0 0 / 70%);
    --opacity-grey-600: rgb(0 0 0 / 60%);
    --opacity-grey-536: rgb(0 0 0 / 53.6%);
    --opacity-grey-500: rgb(0 0 0 / 50%);
    --opacity-grey-417: rgb(0 0 0 / 41.7%);
    --opacity-grey-400: rgb(0 0 0 / 40%);
    --opacity-grey-300: rgb(0 0 0 / 30%);
    --opacity-grey-200: rgb(0 0 0 / 20%);
    --opacity-grey-100: rgb(0 0 0 / 10%);
    --opacity-grey-50: rgb(0 0 0 / 5%);
  
    /* blue */
    --blue-1200: #000060;
    --blue-1100: #000071;
    --blue-1000: #00118f;
    --blue-900: #0017c1;
    --blue-800: #0031d8;
    --blue-700: #264af4;
    --blue-600: #3460fb;
    --blue-500: #4979f5;
    --blue-400: #7096f8;
    --blue-300: #9db7f9;
    --blue-200: #c5d7fb;
    --blue-100: #d9e6ff;
    --blue-50: #e8f1fe;
  
    /* light blue */
    --light-blue-1200: #00234b;
    --light-blue-1100: #00316a;
    --light-blue-1000: #00428c;
    --light-blue-900: #0055ad;
    --light-blue-800: #0066be;
    --light-blue-700: #0877d7;
    --light-blue-600: #008bf2;
    --light-blue-500: #39abff;
    --light-blue-400: #57b8ff;
    --light-blue-300: #97d3ff;
    --light-blue-200: #c0e4ff;
    --light-blue-100: #dcf0ff;
    --light-blue-50: #f0f9ff;
  
    /* cyan */
    --cyan-1200: #003741;
    --cyan-1100: #004c59;
    --cyan-1000: #006173;
    --cyan-900: #006f83;
    --cyan-800: #008299;
    --cyan-700: #008da6;
    --cyan-600: #00a3bf;
    --cyan-500: #01b7d6;
    --cyan-400: #2bc8e4;
    --cyan-300: #79e2f2;
    --cyan-200: #99f2ff;
    --cyan-100: #c8f8ff;
    --cyan-50: #e6fcff;
  
    /* green */
    --green-1200: #032213;
    --green-1100: #08351f;
    --green-1000: #0c472a;
    --green-900: #115a36;
    --green-800: #197a4b;
    --green-700: #1d8b56;
    --green-600: #259d63;
    --green-500: #2cac6e;
    --green-400: #51b883;
    --green-300: #71c598;
    --green-200: #9bd4b5;
    --green-100: #c2e5d1;
    --green-50: #e6f5ec;
  
    /* lime */
    --lime-1200: #1e2d00;
    --lime-1100: #2c4100;
    --lime-1000: #3e5a00;
    --lime-900: #507500;
    --lime-800: #618e00;
    --lime-700: #6fa104;
    --lime-600: #7eb40d;
    --lime-500: #8cc80c;
    --lime-400: #9ddd15;
    --lime-300: #ade830;
    --lime-200: #c0f354;
    --lime-100: #d0f5a2;
    --lime-50: #ebfad9;
  
    /* yellow */
    --yellow-1200: #604b00;
    --yellow-1100: #6e5600;
    --yellow-1000: #806300;
    --yellow-900: #927200;
    --yellow-800: #a58000;
    --yellow-700: #b78f00;
    --yellow-600: #d2a400;
    --yellow-500: #ebb700;
    --yellow-400: #ffc700;
    --yellow-300: #ffd43d;
    --yellow-200: #ffe380;
    --yellow-100: #fff0b3;
    --yellow-50: #fbf5e0;
  
    /* orange */
    --orange-1200: #541e00;
    --orange-1100: #6d2700;
    --orange-1000: #8b3200;
    --orange-900: #ac3e00;
    --orange-800: #c74700;
    --orange-700: #e25100;
    --orange-600: #fb5b01;
    --orange-500: #ff7628;
    --orange-400: #ff8d44;
    --orange-300: #ffa66d;
    --orange-200: #ffc199;
    --orange-100: #ffdfca;
    --orange-50: #ffeee2;
  
    /* red */
    --red-1200: #620000;
    --red-1100: #850000;
    --red-1000: #a90000;
    --red-900: #ce0000;
    --red-800: #ec0000;
    --red-700: #fa0000;
    --red-600: #fe3939;
    --red-500: #ff5454;
    --red-400: #ff7171;
    --red-300: #ff9696;
    --red-200: #fbb;
    --red-100: #ffdada;
    --red-50: #fdeeee;
  
    /* magenta */
    --magenta-1200: #3b003b;
    --magenta-1100: #500050;
    --magenta-1000: #6c006c;
    --magenta-900: #8b008b;
    --magenta-800: #a0a;
    --magenta-700: #c000c0;
    --magenta-600: #db00db;
    --magenta-500: #f137f1;
    --magenta-400: #f661f6;
    --magenta-300: #ff8eff;
    --magenta-200: #ffaeff;
    --magenta-100: #ffd0ff;
    --magenta-50: #f3e5f4;
  
    /* purple */
    --purple-1200: #21004b;
    --purple-1100: #30016c;
    --purple-1000: #41048e;
    --purple-900: #5109ad;
    --purple-800: #5c10be;
    --purple-700: #6f23d0;
    --purple-600: #8843e1;
    --purple-500: #a565f8;
    --purple-400: #bb87ff;
    --purple-300: #cda6ff;
    --purple-200: #ddc2ff;
    --purple-100: #ecddff;
    --purple-50: #f1eafa;
  
    /* font-family */
    --base-font-family: "Noto Sans JP", sans-serif;
  
    /* text */
    --text-l: normal 16px/1.7 var(--base-font-family);
    --text-m: normal 14px/1.7 var(--base-font-family);
    --label-l: normal 14px/1.5 var(--base-font-family);
    --label-m: normal 12px/1.5 var(--base-font-family);
    --supplement-l: normal 12px/1.7 var(--base-font-family);
    --supplement-m: normal 10px/1.7 var(--base-font-family);
    --button-text: normal bold 16px/1.5 var(--base-font-family);
  
    /* height */
    --height-header: 80px;
    --height-footer: 80px;
    --height-min-button: 44px;
  
    /* size */
    --size-f-01: var(--base-size-8px);
    --size-f-02: var(--base-size-16px);
    --size-f-03: var(--base-size-24px);
    --size-f-04: var(--base-size-40px);
    --size-f-05: var(--base-size-64px);
    --size-f-06: var(--base-size-104px);
  
    /* base-size */
    --base-size-4px: 4px;
    --base-size-8px: 8px;
    --base-size-16px: 16px;
    --base-size-24px: 24px;
    --base-size-32px: 32px;
    --base-size-40px: 40px;
    --base-size-48px: 48px;
    --base-size-56px: 56px;
    --base-size-64px: 64px;
    --base-size-72px: 72px;
    --base-size-80px: 80px;
    --base-size-88px: 88px;
    --base-size-96px: 96px;
    --base-size-104px: 104px;
  
    /* radius */
    --radius-xs: 2px;
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;
    --radius-xl: 32px;
    --radius-full: 50%;
  
    /* shadow */
    --shadow01: 5px 5px 10px #00000030;
    --shadow02: 15px 15px 20px #00000030;
    --shadow03: 15px 15px 20px #00000030;
    --shadow04: 15px 15px 20px #00000030;
    --shadow05: 15px 15px 20px #00000030;
    --shadow06: 15px 15px 20px #00000030;
    --shadow07: 15px 15px 20px #00000030;
    --shadow08: 15px 15px 20px #00000030;
  
    /* transition-delay */
    --transition-delay-default: 0.25s cubic-bezier(0.37, 0, 0.63, 1);
  }
  